# MongoDB Connection Configuration
# Option 1: Full Connection String (Atlas or Local)
MONGODB_URL=mongodb+srv://gautamabhijeet050_db_user:RJKK976PRosPyWLh@<YOUR_CLUSTER>.mongodb.net/lexibrief_db?retryWrites=true&w=majority

# Option 2: Granular Credentials
MONGODB_USER=gautamabhijeet050_db_user
MONGODB_PASSWORD=RJKK976PRosPyWLh
MONGODB_CLUSTER=1
MONGODB_DB=lexibrief_db
